*{
font-family: 'Work Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* just make scrollbar invisible */
}

.hidden {
    display: none;
}

.contentContainer {
    border: 1px solid black;
    height: 250px;
    width: 300px;
    margin: auto;
    cursor: pointer;
    background: #e5e5e5;
}

.ad {
    height: 220px;
    width: 270px;
    margin: auto;
    margin-top: 3.5%;
    border-radius: 3%;
    background: white;
    box-shadow: 5px 5px 20px #cacaca;
}

.header {
    height: 65px;
    width: 90%;
    margin: auto;
    border-bottom:1px solid grey;
}

.dealerLogo {
    margin-top: 3%;
    height: 50px;
    width: 15%;
    float: left;

    img {
        height: 100%;
        width: 100%;
    }
}

.seasonalLogo {
    margin-top: 3%;
    height: 50px;
    width: 17%;
    margin-left: 3%;
    float: left;

    img {
        width: 100%;
        height: 100%;
    }
}


.dealerName {
    float: right;
    width: 75%;
    height: 54%;
    margin-top: 3%;
    text-align: center;
    padding-top: 6%;
    font-size: 110%;
    font-weight: bold;
}

.dealerNameLarge {
    float: right;
    width: 75%;
    height: 54%;
    margin-top: 3%;
    text-align: center;
    padding-top: 6%;
    font-size: 75%;
    font-weight: bold;
}

.dealerNameWithSeasonal {
    float: right;
    width: 60%;
    height: 54%;
    margin-top: 3%;
    text-align: center;
    padding-top: 6.8%;
    font-size: 90%;
    font-weight: bold;
}

.dealerNameWithSeasonalLarge {
    float: right;
    width: 60%;
    height: 54%;
    margin-top: 3%;
    text-align: center;
    padding-top: 6%;
    font-size: 65%;
    font-weight: bold;
}

.carName {
    width: 100%;
    height: 14%;
    text-align: center;
    padding-top: 5%;
}

.incentives {
    width: 100%;
    height: 35px;
    font-size: 15px;
    text-align: center;
    color:white;
}

.price {
    height: 20px;
    padding-top: 1%;
}

.required {
    height: 10px;
    width: 100%;
    font-size: 6px;
}

.carImage {
    height: 35%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
}

.viewInv {
    float: left;
    margin-left: 30%;
    margin-top: 24%;
    padding: 5px;
    font-size: 72%;
    border-radius: 30px;
    color: white;

    a {
        color: white;
        text-decoration: none;
    }
}

.arrowLeft {
    float: left;
    height: 17px;
    width: 12px;
    font-size: 12px;
    border-radius: 100%;
    text-align: center;
    margin-top: 10%;
    margin-left: -3%;
    padding-left: 3px;
    font-weight: bold;
    color:white;
    padding-right: 3px;
    padding-top: 1px;
}

.arrowRight {
    float: right;
    height: 17px;
    width: 12px;
    font-size: 12px;
    border-radius: 100%;
    text-align: center;
    margin-top: 10%;
    margin-right: -3%;
    padding-left: 3px;
    font-weight: bold;
    color:white;
    padding-right: 2px;
    padding-top: 1px;
}

.disclaimer {
    float: right;
    font-size: 9px;
    margin-top: 1%;
    margin-right: 2%;
}

.disclaimerContent {
    width: 274px;
    height: 224px;
    position: fixed;
    background: #1D56FB;
    color: white;
    opacity: 0;
    padding: 13px;
    overflow: auto;
    transition: all .5s ease-in-out;
    font-size: 80%;
}
